header{
	background: #666666;
}

h1{
	color: #FFFFFF;
	text-align: center;
	font-family: "Arial", Sans-serif
}

h2 {
	color: #00008B;
	text-transform: uppercase;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
}

section {
	background-color: #A9A9A9;
}

img {
	display: none;
}

a {
	text-align: center;
	color: #000000;
	background-color: #D3D3D3;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

p {
	font-family: "Helvetica", sans-serif;
}

th,td{
	font-family: "Helvetica", sans-serif;
	text-align: left;
}